<style>
    .body_footer_left {
        width: 45%;
    }

    .body_footer_right {
        width: 45%;
    }

    .container_footer_footer {
        text-align: center;
    }

    .container_footer_footer a {
        text-decoration: none;
        color: green
    }
    .text__center{
        text-align: center;
    }
</style>
<div class="footer">
    <div class="container_content_footer">
        <div class="logo_footer r ">
            <h2 style="border-bottom: 1px solid red; width:200px">MERN-Web</h2>
        </div>
        <div class="row text__center" >
            <div class="body_footer_left col-5">
                1
            </div>
            <div class="body_footer_right col-5">
                2
            </div>
        </div>
    </div>
    <div class="container_footer_footer">
        <div>
            <h3><a href="#">coppy right: Kienvu 2023</a> </h3>
        </div>
    </div>
</div>